.div1 {
    background-color: #FF0000;
    position: fixed;
}

.div2 {
    background-color: #00FF00;
    position: relative;
    top: 250px;
    left: 1200px;
    /* float: right; */
}

.div3 {
    background-color: #0000FF;
    position: absolute;
    top: 40%;
    right: 15%;
}

.divs {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}